* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #333;
}

ol, ul {
	list-style: none;
}

html, body {
  height: 100%;
}

.list-index {
  padding: 5vh 7vw;
}

h1 {
  padding-bottom: 3vh;
  text-align: center;
  letter-spacing: 1vw;
  font-size: 5vh;
  font-weight: 400;
  color: #2d6987;
}

h2 {
  font-size: 3vh;
}

.items-ul, .descriptions-ul {
  display: flex;
  overflow: scroll;

  margin-top: 2vh;
  margin-bottom: 3vh;
  margin-left: 1vw;
  padding: 4vw 0;

  border: 1px solid #eaeaea;
  border-radius: 4px;
}

.item-li {
  cursor: pointer;
  margin: 0 2vw;
  padding: 5vw 4vw;
  background: #e7e7e7;
  border-radius: 4px;
}

.clicked {
  background: #d3e4ed;
}

.descriptions-ul {
  flex-direction: column;
}
